* {
    margin: 0;
    padding: 0;
}

.access-container {
    display: flex;
    height: 100vh;
}

.access-login-form {
    width: 30%; 
    max-width: 350px;
    min-width: 350px;
    background-color: var(--body-color); /* Color de fondo */
    color: gray;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.access-presentation {
    flex: 1;
    background-color: var(--primary-color);
    height: 100vh;
    padding: 0px 0px 0px 30px;
    color: white;
}

.promo-text {
    bottom: 20px;
    right: 30px;
    color: white;
}

.link-white {
    color: white !important;
    background-color: var(--primary-color) !important; 
    border-radius: 100px; 
    padding:10px; 
}


.access-input-text {
    border: 1px solid var(--border-input-text-color); 
    width: 100%; 
    padding: 7px; 
    border-Radius: 3px;
    outline: none;
    color: var(--text-color);  
    /* margin-top: 10px;  */
    background-color: var(--background-input-text-color); 
}

.access-input-text:focus {
    border-color: var(--primary-color);
}

.access-label {
    color: var(--text-color);
    font-size: 14px; 
}

.login-button {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color); 
    padding: 5px 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
    transition: color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
}

.login-button:hover {
    /* box-shadow: 0px 0px 5px var(--primary-color);  */
    background-color: var(--primary-color); /* Cambia el color al pasar el mouse */
    color: white;
    border: 2px solid var(--primary-color); 
    transform: scale(1.05); /* Agranda ligeramente el botón */
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center; 
}

.register-link a {
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .access-container {
        flex-direction: column;
    }
}

