.accounts-principal-container {
    display: flex;
    height: calc(100vh - 110px);
    gap: 10px;
}

.account-balances-form {
    width: 350px; /* Ancho fijo */
    height: 200px; /* Altura fija */
    background-color: var(--primary-color);
    border-radius: 8px;
    padding:5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: white;
}

.account-cards-form {
    flex: 1; /* Toma el ancho restante */
    height: calc(100vh - 110px); /* Ajusta dinámicamente el alto menos el padding */
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede */
    overflow-x: hidden; /* Evita scroll horizontal */
}

@media (max-width: 1000px) {
    .accounts-principal-container {
        flex-direction: column; /* Cambiar de horizontal a vertical */
        height: auto; /* Ajustar altura para diseño vertical */
    }

    .account-balances-form {
        width: 350px; /* Ancho fijo */
        height: 200px; /* Mantiene la altura fija */
    }
    .account-cards-form{
        
    }
}