.accounts-principal-container {
    display: flex;
    height: calc(100vh - 110px);
    gap: 10px;
}

.accounts-balances-form, .account-sheets-list-container {
    width: 350px;
    height: 680px; 
    background-color: var(--sub-menu-container, blue);
    border-radius: 8px;
    padding: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.accounts-balances-form-body, .account-sheets-list-container-body {
    padding: 3px;
    color: white;
    max-height: 80%; 
    overflow-y: auto; 
    transition: max-height 0.5s ease;
    max-width: 400px;
}

.accounts-form {
    width: 400px; /* Ancho fijo */
    background-color: var(--sub-menu-container);
    border-radius: 3px;
    padding:5px; 
    color: white;
}

.account-cards-form {
    flex: 1; 
    height: calc(100vh - 110px); 
    overflow-y: auto; 
    overflow-x: hidden;
}

.custom-list {
    list-style: none;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.custom-list li {
    background: #fff;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    color: var(--text-color); 
}

.custom-list-focus {
    background: #fff;
    margin-top:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    border-radius: 3px;
    cursor:pointer;
}

.custom-list li:hover {
    background: var(--primary-color-light);
}

.input-list {
    border: none; 
    outline: none; 
    width: 100%;
    color: var(--primary-color);
    cursor: pointer; 
}

.input-list:focus {
    border: none;
    outline: none;
    cursor: pointer; 
}

.account-sheets-list-container-header {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px;
}

.account-icon-box {
    display: flex;         
    justify-content: space-between; 
    width: 100%;
}

.account-icon-box input {
    flex: 1;                
    margin-right: 8px;      
}

.account-icon-box {
    display: flex;
    align-items: center;
    background: var(--background-input-text-color);
    border-radius: 5px;
    padding: 8px 8px;
    width: 300px;               
}

.account-icon-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    color: var(--text-color);
    font-size: 14px;
}

.account-icon-box input::placeholder {
    color: #aaa;
}

.account-description-title-box {
    display: flex;         
    justify-content: space-between; 
    width: 100%;
}

.account-description-title-box input {
    flex: 1;                
}

.account-description-title-box {
    display: flex;
    align-items: center;
    background: var(--background-input-text-color);
    background-color: lightcyan;  
    border-radius: 5px;
    width: 100%;               
}

.account-description-title-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 40px;
}

.searcher-icon-button {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.searcher-icon-button:hover {
    color: var(--primary-color);
}

.accounts-account-list-item {
    background-color: var(--background-input-text-color);
    width:100%; 
    border-radius: 5px;
    margin-top:8px;
    cursor: pointer;
    border: 1px solid var(--background-input-text-color); 
    padding: 5px;
    color: var(--text-color); 
}

.accounts-account-list-item-focus  { border: 1px solid var(--primary-color); }

.account-accounts-items {
    /* background-color: green; */
    width:100%; 
    height: calc(100vh - 180px);
    margin-top:20px; 
    overflow-x: scroll;
}

.account-accounts-items::-webkit-scrollbar, .container-sheets::-webkit-scrollbar {
    width: 1px;
}


.account-sheets-items {
    width: 300px;
    height: calc(100vh - 300px);
    margin-top: 15px;
    /* background-color: red; */
    overflow-y: scroll;
}

.account-sheets-items::-webkit-scrollbar, .container-sheets::-webkit-scrollbar {
    width: 1px;
}

.account-item-account-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.account-item-account-box input {
    flex: 1;
    margin-right: 8px;
}

.account-item-account-box {
    display: flex;
    align-items: center;
    background: var(--background-input-text-color);
    width: 100%;
    /* background-color: gold; */
}

.account-item-account-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
}

.account-item-account-box input::placeholder {
    color: #aaa;
}

.account-sheet-list-item input {
  flex: 1;                
  margin-right: 8px;      
}

.account-sheet-list-item {
    display: flex;
    align-items: center;
    background: var(--background-input-text-color);
    /* background-color: blue; */
    padding: 2px;
    width: 100%;               
}

.account-sheet-list-item input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    color: var(--text-color);
    font-size: 14px;
}

.account-sheet-list-item input::placeholder {
    color: #aaa;
}

.accounts-wrapper {
    display: flex;
    height: calc(100vh - 97px);
    gap: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--body-color);
    /* background-color: lightcoral; */
}

.container-accounts {
    flex: 0.2;
    /* background-color: lightblue; */
    height: calc(100vh - 110px);
    border-radius: 5px;
    max-width: 100%;
    min-width: 300px;
    overflow: hidden;
}

.container-sheets {
    /* background-color: lightgreen; */
    flex: 1;
    height: calc(100vh - 110px);
    overflow: hidden;
    min-width: 300px;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 2px solid var(--sidebar-color);
}

.accounts-principal-container {
    display: flex;
    height: calc(100vh - 100px); 
}

.accounts-accounts-form {
    /* background-color: lightgray;  */
    padding: 5px;
    min-width: 300px;
    height: calc(100vh - 290px);        
    height: 100vh; 
    overflow: hidden;
}

.accounts-accounts-form::-webkit-scrollbar, .container-sheets::-webkit-scrollbar {
    width: 3px;
}
.accounts-accounts-form::-webkit-scrollbar-thumb, .container-sheets::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}

@media (max-width: 500px) {
    .accounts-wrapper {
        flex-direction: column;
    }

    .container-accounts, .container-sheets {
        flex: none;
        height: 50%;
        padding: 10px;
    }

    .container-accounts {
        background-color: var(--sidebar-color);
    }

    .account-icon-box {
        width: 100%;               
    }

    .container-sheets {
        margin-left: 0px;
        border-left: none;
    }

    .account-sheets-items {
        margin-top:10px; 
        width: 100%;
        height: calc(100vh - 480px);
        /* background-color: blue; */
    }
    
    .account-sheets-items::-webkit-scrollbar, .container-sheets::-webkit-scrollbar {
        width: 4px;
        padding: 10px;
    }
    
    .account-sheets-items::-webkit-scrollbar-thumb, .container-sheets::-webkit-scrollbar-thumb {
        background: var(--primary-color);
    }
    
    .account-accounts-items {
        margin-top:10px; 
        width: 100%;
        height: calc(100vh - 412px);
        /* background-color: red; */
    }

    .account-accounts-items::-webkit-scrollbar, .container-sheets::-webkit-scrollbar {
        width: 4px;
        padding: 10px;
    }
    
    .account-accounts-items::-webkit-scrollbar-thumb, .container-sheets::-webkit-scrollbar-thumb {
        background: var(--primary-color);
    }

    .accounts-account-info {
        display: none;
    }

    .account-description-title-box input {
        font-size: 15px;
        font-weight:500;
    }    

    .account-delete-account-buttom {
        display: none;
    }

    .account-gragable-item {
        display: none;
    }
}
