.button-color {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color); 
    
    padding: 5px 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
    transition: color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
}

.button-color:hover {
    background-color: var(--body-color); /* Cambia el color al pasar el mouse */
    color: var(--primary-color); 
    border: 1px solid var(--primary-color); 
    transform: scale(1.02); /* Agranda ligeramente el botón */
}

.icon {
    position: relative;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
    color: var(--text-color);
    color: var(--primary-color);
    /* color: #FF7F11; */
}

.icon-trash {
    color: var(--primary-color);
}

.icon:hover {
    transform: translateY(-3px) scale(1.2); /* Se levanta y agranda */
}

/* Diseño del badge de notificación */
.badge {
    background: #b63509;
    color: white;
    font-size: 11px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative; /* Permite colocarlo encima de otros elementos si es necesario */
}

/* Estilos generales del input */
.custom-input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid var(--border-input-text-color);
    /* background: var(--background-input-text-color); */
    background: var(--body-color);
    color: var(--text-color);
    transition: all 0.1s ease-in-out;
    outline: none;
}

.custom-input-search-account {
    /* width: 60%; */
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid var(--border-input-text-color);
    background: var(--background-input-text-color);
    color: var(--text-color);
    transition: all 0.1s ease-in-out;
    outline: none;
}
.custom-input-search-account:focus {
    border-color: var(--primary-color);
}


.button-primary {
    background-color: var(--body-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color); 
    
    padding: 5px 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
    transition: color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
}

.button-primary:hover {
    /* box-shadow: 0px 0px 5px var(--primary-color);  */
    background-color: var(--primary-color); /* Cambia el color al pasar el mouse */
    color: white;
    border: 1px solid var(--primary-color); 
    transform: scale(1.05); /* Agranda ligeramente el botón */
}


.button-danger {
    background-color: var(--body-color);
    color: var(--danger-color);
    border: 1px solid var(--danger-color); 
    
    padding: 5px 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
    transition: color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
}

.button-danger:hover {
    background-color: var(--danger-color); /* Cambia el color al pasar el mouse */
    color: white;
    border: 1px solid var(--danger-color); 
    transform: scale(1.05); /* Agranda ligeramente el botón */
}








.input-box {
    position: relative;
    display: flex;
    /* align-items: center; */
    /* width: 280px; */
}

.input-box input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid var(--border-input-text-color);
    /* background: var(--background-input-text-color); */
    background: var(--body-color);
    color: var(--text-color);
    transition: all 0.1s ease-in-out;
    outline: none;
}

.input-box .icon {
    position: absolute;
    right: 10px;
    /* font-size: 18px; */
    /* color: #6d5efc; */
    /* cursor: pointer; */
    /* transition: color 0.2s; */
    top:7px; 
}

.input-box .icon:hover {
    color: #5a4de3;
}