.button-color {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color); 
    
    padding: 5px 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
    transition: color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
}

.button-color:hover {
    background-color: var(--body-color); /* Cambia el color al pasar el mouse */
    color: var(--primary-color); 
    border: 1px solid var(--primary-color); 
    transform: scale(1.02); /* Agranda ligeramente el botón */
}


.button-primary {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--danger-color); 
    font-size: 15px; 
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
    transition: color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
}

.button-primary:hover {
    background-color: var(--danger-color); /* Cambia el color al pasar el mouse */
    color: white;
    border: 1px solid var(--danger-color); 
    transform: scale(1.05); /* Agranda ligeramente el botón */
}