* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --body-color: #fff;
    --placeholder-color: red; 
    --sidebar-color: #F3F3F0;
    --primary-color: #695CFE;
    --danger-color: red;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --text-hover-color: white;
    --sub-menu-container: #F5F5F1; 
    --success-color: #2cb72c; 

    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body.dark {
    --placeholder: white; 
    --body-color: #212121;
    --sidebar-color: #171717;
    --primary-color: #695CFE;
    --danger-color: red;
    --secondary-color: orange;
    --primary-color-light: #3a3b3c;
    --toggle-color: #696969;
    --text-color: #ccc;
    --sub-menu-container: #303030; 
}

::selection {
    background-color: var(--primary-color); /* Color de fondo de la selección */
    color: white; /* Color del texto seleccionado */
}

.text-color-primary {
    color: var(--primary-color);
}

.text-color-danger {
    color: var(--primary-color);
}

.text-color-danger:hover {
    color: red;
}
