body {
    background-color: var(--body-color);
}

.icon {
    margin-right: 0px;
    margin-left: 9px;
    transition: margin 0.3s;
    font-size: 20px;
    cursor:pointer;
}

.plus-icon {
    width:70px;
    line-height:28px;
    border-radius: 3px;
    color: var(--primary-color);
}

.plus-icon:hover {
    cursor:pointer;
    color: var(--success-color);
    border: 1px solid var(--success-color);
}

.principal-container {
    display: flex;
    height: 100vh;
    padding: 5px 10px 100px 10px;
}

.sidebar {
    width: 250px;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
    padding: 10px;
}

.sidebar.active {
    width: 70px;
}

.main-content {
    margin-left: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    color: var(--text-color);
}

.main-content .header {
    background-color: var(--body-color);
    padding: 0px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--primary-color);
}

.sidebar.active + .main-content {
    margin-left: 70px;
}

/* Header left container */
.header-left {
    display: flex;
    /* align-items: center; */
}

.header-left h1 {
    font-size: 24px;
    color: var(--text-color);
    margin-left: 10px; /* Separación de 10px entre el botón y el título */
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info span {
    margin-right: 10px;
    color: var(--text-color);
}

.header .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.toggle-btn {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
}

.toggle-btn:hover {
    color: #555;
}


.dashboard-content {
    padding: 10px;
    flex: 1;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 200px;
    }

    .sidebar.active {
        width: 60px;
    }

    .sidebar.active + .main-content {
        margin-left: 60px;
    }
}

@media screen and (max-width: 576px) {
    .sidebar {
        position: fixed;
        left: -200px;
        transition: all 0.3s;
    }

    .sidebar.active {
        left: 0;
    }

    .main-content {
        margin-left: 0;
    }

    .header {
        padding: 10px;
    }
}




.sidebar-body {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebar-body::-webkit-scrollbar {
    display: none;
}

.menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.dropdown-btn {
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 5px;
    font-size: 13px;
    transition: var(--tran-05);
    align-items: center;
    display: flex;
    height: 35px;
    transition: var(--tran-03);
    border-radius: 3px;
}

.dropdown-btn span {
    margin-left: 10px;
    margin-top:3px;
}

.sidebar.collapsed .dropdown-btn span {
    display: none;
}

.dropdown-btn:hover {
    background-color: var(--primary-color);
    color: var(--text-hover-color);
}



.dropdown-btn-accounts {
    display: flex;
    justify-content: space-between; /* Asegura el espacio entre el texto y el ícono derecho */
    align-items: center; /* Centra verticalmente */
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    padding: 5px;
    font-size: 13px;
    border-radius: 3px;
    height: 35px;
    box-sizing: border-box;
}

.dropdown-btn-accounts i.icon {
    flex-shrink: 0; /* Asegura que los íconos no cambien de tamaño */
    margin-right: 10px; /* Espaciado entre el ícono izquierdo y el texto */
}

.dropdown-btn-accounts .menu-description {
    flex-grow: 1; /* El texto ocupa el espacio disponible */
    text-align: left; /* Alinea el texto a la izquierda */
}

.dropdown-btn-accounts .menu-arrow {
    margin-left: auto; /* Mueve el ícono derecho al extremo derecho */
    flex-shrink: 0; /* Asegura que no cambie de tamaño */
}

.sidebar.collapsed .dropdown-btn-accounts span {
    display: none;
}
.dropdown-btn-accounts:hover {
    background-color: var(--primary-color);
    color: var(--text-hover-color);
}









.sidebar-footer {
    background-color: var(--sidebar-color);
}

.sidebar-footer button {
    width: 100%;
}

.arrow_open {
    transform: rotate(90deg);
    transition: var(--tran-05)
}

.arrow_close {
    transform: rotate(0deg);
    transition: var(--tran-05)
}

.dropdown-container {
    display: none;
    /* background-color: var(--sub-menu-container); */
    width: 100%;
}

.dropdown-container a {
    color: var(--text-color);
    /* background-color:red;  */
    text-decoration: none;
    display: block;
    padding: 0px 0px 0px 10px;
    font-size: 14px;
    border-radius:5px;
    /* margin-top: 3px;  */
    line-height:30px;
    margin-left:15px;
}

.dropdown-container a:hover
{
    background-color: var(--primary-color);
    color: var(--text-hover-color);
}

.toggle-switch {
    height: 100%;
    display: flex;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--primary-color);

    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.user-text {
    font-size: 11px;
    color: var(--primary-color);
}

.exit-icon:hover {
    color:red;
    cursor:pointer;
}

span.title-menu {
    color: var(--primary-color);
    margin-left: 10px;
}

.page-title {
    color: var(--primary-color);
    font-size: 20px;
    background-color: red;
    padding: 5px;
}

.no-focus:focus {
    outline: none;
    box-shadow: none;
}

.alert-box-info-message {
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: var(--primary-color);
    padding-left: 5px;
    font-size: 16px;
    color:white;
}

/* .alert-box-info-message {
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: var(--primary-color);
    padding-left: 5px;
    font-size: 16px;
    color:white;
} */


.alert-box-message {
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 16px;
}

.message-success {
    background-color: #E6F4EA; 
    border: 2px solid #228B22; 
    color: #155724;
}

.message-info {
	background-color: #E0F7FA; 
	border: 2px solid #007B83; 
	color: #00474F; 
}

.message-warning {
    background-color: #FFF7E6;
    border: 2px solid #FF9500;
    color: #854D00;
}

.message-danger {
	background-color: #FDE9EB; 
	border: 2px solid #C4001D; 
	color: #7A0013; 
}

.message-success-dark {
    background-color: #1E442D;
    border: 2px solid #2ECC71;
    color: #A3E4D7;
}

.message-info-dark {
    background-color: #1B3A4B;
    border: 2px solid #3498DB;
    color: #AED6F1;
}

.message-warning-dark {
    background-color: #4B3820;
    border: 2px solid #F39C12;
    color: #FDE3A7;
}

.message-danger-dark {
    background-color: #4B1E20;
    border: 2px solid #E74C3C;
    color: #F5B7B1;
}

span.sheet-list {
    color: var(--primary-color);
}

.account-container {
    /* background-color: var(--sidebar-color);  */
    width:500px;
    /* height:100px;  */
    padding:20px;
    border-radius:2px;
    float:left;
    box-shadow: 0px 0px 3px lightgray;
    margin: 0px 10px 10px 20px;
}


