.page-principal-container {
    display: flex;
    height: calc(100vh - 110px);
    gap: 10px;
}

.sheet-balances-form {
    width: 350px; /* Ancho fijo */
    height: 515px; /* Altura fija */
    background-color: var(--primary-color);
    border-radius: 8px;
    padding:5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: white;
}

.sheet-cards-form {
    flex: 1; /* Toma el ancho restante */
    height: calc(100vh - 110px); /* Ajusta dinámicamente el alto menos el padding */
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede */
    overflow-x: hidden; /* Evita scroll horizontal */
}

.sheet-balances-form-header {
    border-radius:3px; 
    padding:5px; 
}

.balance-input-text {
    width: 96%;
    border: none;
    font-size: 30px;
    background-color: var(--primary-color);
    color: white;
    outline: none;
    margin-left:10px; 
}

.balance-input-text::selection {
    background-color: white;
    color: var(--primary-color);
}

.icon-save {
    display: flex;
    justify-content: flex-end; /* Alinea los iconos a la derecha */
    font-size: 13px;
    height: 23px;
}

.excel-card {
    /* ayanez */
    padding:10px; 
    font-size: 15px;
    float:left;
    margin-right:15px; 
    border-radius:7px;     
    width: 1600px;
    background-color: var(--sidebar-color);

    margin-bottom: 15px;
} 

.excel-card:last-child {
    margin-bottom: 0; /* Elimina el margen para la última carta */
}

.excel-card-header {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    /*align-items: center;*/ /* Centra verticalmente */
    align-items: center; 
    color: var(--primary-color);
    
    border-radius: 3px;
}

.excel-card-header small {
    margin-right: auto; /* Empuja el texto hacia la izquierda */
}

.excel-card-header .icons-container {
    display: flex;
}

.excel-icon {
    cursor: pointer;
    font-size: 16px;
}


.excel-card-vignette {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    border-bottom: 1px solid gray; 
}

.excel-card-row {
    display: flex;
    width: 100%;
}

.excel-card-cell.description {
    flex: 1; /* Este ocupa todo el espacio restante */
    text-align: left;
    /* background-color: green; */
}

.excel-card-cell.value {
    flex: 0 0 100px; /* Ancho fijo de 100px */
    text-align: right;
    /* background-color: green; */
}

.excel-card-cell.action {
    flex: 0 0 120px;
}

.excel-card-footer {
    display: flex;
    justify-content: space-between;
    
}

.card-control-navbar {
    width:100%; 
    padding:5px; 
    border-radius:3px; 
    background-color: var(--primary-color); 
}

.card-icon {
    /* margin-right: 0px; */
    
    transition: margin 0.3s;
    font-size: 18px;
    cursor:pointer;
}

@media (max-width: 1000px) {
    .page-principal-container {
        flex-direction: column; /* Cambiar de horizontal a vertical */
        height: auto; /* Ajustar altura para diseño vertical */
    }

    .sheet-balances-form {
        width: 350px; /* Ancho fijo */
        height: 515px; /* Mantiene la altura fija */
    }
}

@media (max-width: 2000px) {
    .excel-card {
        /* ayanez */
        width: 48%;
    }
}

@media (max-width: 1720px) {
    .excel-card {
        width: 98.5%;
    }
}

@media (max-width: 1300px) {
    .excel-card {
        width: 470px;
    }
}


@media (max-width: 1000px) {
    .excel-card {
        width: 350px;
    }
}

.vignette-input-text-description {
    width:100%; 
    background-color: var(--sidebar-color)
}

.vignette-input-text-amount {
    width:100%; 
    text-align:right; 
    border-left:1px solid lightgray;
    background-color: var(--sidebar-color)
}

.balance-calculate-amount-form {
    width: 100%;
    border-radius: 5px;
    background-color: var(--body-color);
    color: var(--text-color); 
}

.balance-calculate-amount-item {
    width: 100%;
    border-radius: 3px;
    padding: 5px;   
    background-color: var(--body-color);
    border-bottom: 1px solid var(--primary-color);
}

.balance-calculate-amount-item-danger {
    width: 100%;
    margin:auto; 
    border-radius: 3px;
    padding: 5px;   
    background-color: red;
    color:white; 
    border-bottom: 1px solid var(--primary-color);
}


.color-selector-item {
    width: 25px;
    height: 25px;
    margin: 2px;
    border-radius: 100%;
    cursor:pointer;
    border: 1px solid var(--primary-color); 
    
}

/* Light Theme */
.color-selector-lightTheme-WHITE { background-color: var(--sidebar-color); color: var(--text-color); }
.color-selector-lightTheme-GREEN { background-color: #4CAF50; color: white; }
.color-selector-lightTheme-YELLOW { background-color: #FFEB3B; color: black; }
.color-selector-lightTheme-ORANGE { background-color: #FF9800; color: white; }
.color-selector-lightTheme-RED { background-color: #F44336; color: white; }
.color-selector-lightTheme-BLUE { background-color: #2196F3; color: white; }
.color-selector-lightTheme-GRAY { background-color: #9E9E9E; color: white; }
.color-selector-lightTheme-PURPLE { background-color: #9C27B0; color: white; }

.color-selector-lightTheme-SOFT_GREEN { background-color: #A5D6A7; color: black; }
.color-selector-lightTheme-SOFT_YELLOW { background-color: #FFF59D; color: black; }
.color-selector-lightTheme-SOFT_ORANGE { background-color: #FFCC80; color: black; }
.color-selector-lightTheme-SOFT_RED { background-color: #EF9A9A; color: black; }
.color-selector-lightTheme-SOFT_BLUE { background-color: #90CAF9; color: black; }
.color-selector-lightTheme-SOFT_GRAY { background-color: #E0E0E0; color: black; }
.color-selector-lightTheme-SOFT_PURPLE { background-color: #CE93D8; color: black; }
.color-selector-lightTheme-STRONG_GREEN { background-color: #388E3C; color: white; }
.color-selector-lightTheme-STRONG_YELLOW { background-color: #FBC02D; color: black; }
.color-selector-lightTheme-STRONG_ORANGE { background-color: #F57C00; color: white; }
.color-selector-lightTheme-STRONG_RED { background-color: #D32F2F; color: white; }
.color-selector-lightTheme-STRONG_BLUE { background-color: #1976D2; color: white; }
.color-selector-lightTheme-STRONG_GRAY { background-color: #616161; color: white; }
.color-selector-lightTheme-STRONG_PURPLE { background-color: #7B1FA2; color: white; }

/* Dark Theme */
.color-selector-darkTheme-WHITE { background-color: #E0E0E0; color: black; }
.color-selector-darkTheme-GREEN { background-color: #388E3C; color: white; }
.color-selector-darkTheme-YELLOW { background-color: #FBC02D; color: black; }
.color-selector-darkTheme-ORANGE { background-color: #F57C00; color: white; }
.color-selector-darkTheme-RED { background-color: #D32F2F; color: white; }
.color-selector-darkTheme-BLUE { background-color: #1976D2; color: white; }
.color-selector-darkTheme-GRAY { background-color: #424242; color: white; }
.color-selector-darkTheme-PURPLE { background-color: #7B1FA2; color: white; }

.color-selector-darkTheme-SOFT_GREEN { background-color: #81C784; color: black; }
.color-selector-darkTheme-SOFT_YELLOW { background-color: #FFF176; color: black; }
.color-selector-darkTheme-SOFT_ORANGE { background-color: #FFB74D; color: black; }
.color-selector-darkTheme-SOFT_RED { background-color: #E57373; color: black; }
.color-selector-darkTheme-SOFT_BLUE { background-color: #64B5F6; color: black; }
.color-selector-darkTheme-SOFT_GRAY { background-color: #BDBDBD; color: black; }
.color-selector-darkTheme-SOFT_PURPLE { background-color: #BA68C8; color: black; }

.color-selector-darkTheme-STRONG_GREEN { background-color: #2E7D32; color: white; }
.color-selector-darkTheme-STRONG_YELLOW { background-color: #F9A825; color: black; }
.color-selector-darkTheme-STRONG_ORANGE { background-color: #EF6C00; color: white; }
.color-selector-darkTheme-STRONG_RED { background-color: #C62828; color: white; }
.color-selector-darkTheme-STRONG_BLUE { background-color: #1565C0; color: white; }
.color-selector-darkTheme-STRONG_GRAY { background-color: #212121; color: white; }
.color-selector-darkTheme-STRONG_PURPLE { background-color: #4A148C; color: white; }
