.containerr {
    display: flex;
    height: calc(100vh - 110px); /* Ajusta dinámicamente el alto menos el padding */    
    gap: 10px;
    
}

.section-1 {
    width: 350px; /* Ancho fijo */
    height: 470px; /* Altura fija */
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.section-2 {
    flex: 1; /* Toma el ancho restante */
    height: calc(100vh - 110px); /* Ajusta dinámicamente el alto menos el padding */
    background-color: var(--sidebar-color);
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede */
    overflow-x: hidden; /* Evita scroll horizontal */
}


.balance-input-text {
    width: 100%;
    border: none;
    font-size: 30px;
    background-color: var(--primary-color);
    color: white;
    outline: none;
    margin-left:10px; 
}

.balance-input-text::selection {
    background-color: white;
    color: var(--primary-color);
}

.icon-save {
    display: flex;
    justify-content: flex-end; /* Alinea los iconos a la derecha */
    font-size: 13px;
    height: 23px;
}

@media (max-width: 1000px) {
    .containerr {
        flex-direction: column; /* Cambiar de horizontal a vertical */
        height: auto; /* Ajustar altura para diseño vertical */
    }

    .section-1 {
        width: 350px; /* Ancho fijo */
        height: 470px; /* Mantiene la altura fija */
    }

    .section-2 {
        width: 100%; /* Ocupa el ancho completo */
        height: calc(100vh - 460px); 
        /* height: calc(100vh - 110px);  */
    }
}






.excel-card {
    width: 47%;
    border: 1px solid var(--primary-color);
    font-size: 14px;
    float:left;
    margin:10px; 
    border-radius:3px;     
}

/* .excel-card-header {
    background-color: var(--sidebar-color);
    color: var(--primary-color);
    padding: 10px 0px 1px 10px;
    border-radius:3px;     
} */
  
.excel-card-header {
    display: flex;
    justify-content: space-between; /* Título a la izquierda y ícono a la derecha */
    align-items: center; /* Centra verticalmente */
    background-color: var(--sidebar-color);
    color: var(--primary-color);
    padding: 10px 10px; /* Ajusta el espaciado según sea necesario */
    border-radius: 3px;
  }
  

.excel-icon {
    cursor: pointer; /* Opcional, para mostrar que el ícono es interactivo */
    font-size: 16px; /* Ajusta el tamaño del ícono */
}


.excel-card-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    border-bottom: 1px solid gray; 
    /* background-color: green;  */
}
  
.excel-card-cell {
    width: 50%;
}

.excel-card-cell.description {
    text-align: left;
    /* background-color: green;  */
}

.excel-card-cell.value {
    text-align: right;
    /* background-color:blue;  */
}

.excel-card-cell.action {
    text-align: right;
    /* background-color:red;  */
}


.excel-card-footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color-light);
    padding: 10px;
}

.card-control-navbar {
    width:100%; 
    padding:5px; 
    border-radius:3px; 
    background-color: var(--primary-color); 
}